<html lang="pt-br">

<body class="background">
    <img src="/assets/IMG/joystick AZUL ESCURO.jpg" alt="joystick" id="BANNER">

    <p id="seção">CADASTRE-SE</p>

          <nav class="MENU">
            <img src="/assets/IMG/PRODUTO5.jpg" alt="GAMES">
            <a class="itens"routerLink="/games">GAMES</a>
            <img src="/assets/IMG/PRODUTO3.jpeg" alt="ACESSÓRIOS">
            <a class="itens"routerLink="/acessorios">ACESSÓRIOS</a>
            <img src="/assets/IMG/PRODUTOS2.jpeg" alt="PC">
            <a class="itens"routerLink="/pc">PC</a>
            <img src="/assets/IMG/PRODUTO4.jpeg" alt="UTILITÁRIOS">
            <a class="itens"routerLink="/utilitarios">UTILITÁRIOS</a>
            <img src="/assets/IMG/PRODUTOS1.jpeg" alt="E MAIS">
            <a class="itens"routerLink="/emais">E MAIS</a>
            <a class="itens"routerLink="/Cadastro">Cadastre-se</a>
        </nav>

      <div id="DESTAQUES">
        <div class="DESTAQUEITENS">
          <a class="itens2"routerLink="/">HOME</a>
          <a class="itens2"routerLink="/pc">PRODUTOS</a>
          <a class="itens2"routerLink="/emais">CONTATOS</a>
        </div>
    </div>

    <br>

    <form class="myForm">

      <p>
      <label>EMAIL 
      <input type="email" name="user_email" required>
      </label> 
      
      <br>
      <br>

      <label>SENHA
      <input type="password" name="user_pwd">
      </label>

      <br>
      <br>

      <button>LOGIN</button>
      </p>
      
      <p>
      <label>
      <input type="checkbox"> LEMBRE DE MIM
      </label>
      </p>
      
      </form>
    <br>
    <br>
    <br>

    <footer id="roda">

    <p class="pé"> 71 98761-3261 </p>
    <p class="pé"> SOMENTE AGORA </p>
    <p class="pé"> ramonssmdanilo@yahoo.com.br </p>

    </footer>

</body>

</html>
