<html lang="pt-br">

<body class="background">
    <img src="/assets/IMG/joystick AZUL ESCURO.jpg" alt="joystick" id="BANNER">

    <p id="seção">COMPUTADORES, PC GAMER E NOTEBOOKS</p>

        <nav class="MENU">
          <img src="/assets/IMG/PRODUTO5.jpg" alt="GAMES">
          <a class="itens"routerLink="/games">GAMES</a>
          <img src="/assets/IMG/PRODUTO3.jpeg" alt="ACESSÓRIOS">
          <a class="itens"routerLink="/acessorios">ACESSÓRIOS</a>
          <img src="/assets/IMG/PRODUTOS2.jpeg" alt="PC">
          <a class="itens"routerLink="/pc">PC</a>
          <img src="/assets/IMG/PRODUTO4.jpeg" alt="UTILITÁRIOS">
          <a class="itens"routerLink="/utilitarios">UTILITÁRIOS</a>
          <img src="/assets/IMG/PRODUTOS1.jpeg" alt="E MAIS">
          <a class="itens"routerLink="/emais">E MAIS</a>
      </nav>

    <div id="DESTAQUES">
      <div class="DESTAQUEITENS">
        <a class="itens2"routerLink="/">HOME</a>
        <a class="itens2"routerLink="/pc">PRODUTOS</a>
        <a class="itens2"routerLink="/emais">CONTATOS</a>
      </div>
    </div>


    <br>

    <div class="NOVIDADES">
        <div>
        <img class="banners" src="/assets/IMG/IMG 1.jpg" alt="imagem1" width="400" height="250">
         <p class="Lorem">Lorem ipsum</p>
        </div>

        <div>
        <img class="banners" src="/assets/IMG/IMG 2.jpg" alt="imagem2" width="400" height="250">
        <p class="Lorem">Lorem ipsum</p>
        </div>

    </div>

    <br>
    <br>
    <br>

    <footer id="roda">

    <p class="pé"> 71 98761-3261 </p>
    <p class="pé"> SOMENTE AGORA </p>
    <p class="pé"> ramonssmdanilo@yahoo.com.br </p>

    </footer>

</body>

</html>
